### Description: This program attempts to optimize a users portfolio using the Efficient Frontier

https://www.qmr.ai/yfinance-library-the-definitive-guide/

In [1]:
#Import the python libraries

#from pandas_datareader import data as web
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib. pyplot as plt
plt.style.use('fivethirtyeight')
#import seaborn as sn

import os

In [2]:
import yfinance as yf
#import plotly.graph_objects as go
import pandas as pd

In [3]:
def get_stocks(tickers_str, start_date, end_date, interval):
    data=pd.DataFrame()
    data = yf.download(
        tickers = tickers_str,
        start = start_date,
        end = end_date,
        interval = interval,
        actions=True,
        group_by = 'ticker',
        auto_adjust = False,
        prepost = True,
        threads = True,
        proxy = None
        )
    return data

In [4]:
#symbol_df=pd.read_csv('symbol3.csv')

In [10]:

# assets=['AMZN','AAPL','NFLX','GOOG','ACN','BABA','AAPL','GPRO','HEAR','KOSS',
#         'LPL','MICS','MSN','SONO','SONY','UEIC','UTME','VZIO','WLDS','ZEPP',
#         'CVE','YPF','SHEL','PBR','PBR-A','KO','UL','KMB','MDLZ','DIS']
assets=['AMZN','AAPL']

In [6]:
# path = 'data_1m.csv'

# # Checking whether the specified path exists

# if  os.path.exists(path):
#     df_1m_bk=pd.read_csv('data_1m.csv', index_col=0,header=0)
# else:
#     df_1m=pd.DataFrame()
#     df_1m_bk=pd.DataFrame()

In [7]:
#df_1m_bk

In [8]:
# path = 'data_1hr.csv'

# # Checking whether the specified path exists

# if  os.path.exists(path):
#     df_1h_bk=pd.read_csv('data_1hr.csv')
# else:
#     df_1h=pd.DataFrame()
#     df_1h_bk=pd.DataFrame()

In [9]:
#df_1m=get_stocks(assets,'2023-07-14','2023-07-15',"1m")
#df_1m['Volume'].sum()

In [10]:
#df_1m

In [11]:
#df_1m.to_csv('data_1m_6.csv')

In [11]:
df_1h=get_stocks(assets,'2023-12-23','2024-01-26',"1d")
#df_1m['Volume'].sum()
df_1h_bk=df_1h_bk.append(df_1h)

[*********************100%%**********************]  2 of 2 completed

NameError: name 'df_1h_bk' is not defined

In [168]:
df_1h

                  AAPL                                                  \
                  Open        High         Low       Close   Adj Close
Date
2023-12-26  193.610001  193.889999  192.830002  193.050003  193.050003
2023-12-27  192.490005  193.500000  191.089996  193.149994  193.149994
2023-12-28  194.139999  194.660004  193.169998  193.580002  193.580002
2023-12-29  193.899994  194.399994  191.729996  192.529999  192.529999
2024-01-02  187.149994  188.440002  183.889999  185.639999  185.639999
2024-01-03  184.220001  185.880005  183.429993  184.250000  184.250000
2024-01-04  182.149994  183.089996  180.880005  181.910004  181.910004
2024-01-05  181.990005  182.759995  180.169998  181.179993  181.179993
2024-01-08  182.089996  185.600006  181.500000  185.559998  185.559998
2024-01-09  183.919998  185.149994  182.729996  185.139999  185.139999
2024-01-10  184.350006  186.399994  183.919998  186.190002  186.190002
2024-01-11  186.539993  187.050003  183.619995  185.589996  185.589996
2024-01-12  186.059998  186.740005  185.190002  185.919998  185.919998
2024-01-16  182.160004  184.259995  180.929993  183.630005  183.630005
2024-01-17  181.270004  182.929993  180.300003  182.679993  182.679993
2024-01-18  186.089996  189.139999  185.830002  188.630005  188.630005
2024-01-19  189.330002  191.949997  188.820007  191.559998  191.559998
2024-01-22  192.300003  195.330002  192.259995  193.889999  193.889999
2024-01-23  195.020004  195.750000  193.830002  195.179993  195.179993
2024-01-24  195.419998  196.380005  194.339996  194.500000  194.500000
2024-01-25  195.220001  196.270004  193.110001  194.169998  194.169998

                                                   AMZN              \
              Volume Dividends Stock Splits        Open        High
Date
2023-12-26  28919300       0.0          0.0  153.559998  153.979996
2023-12-27  48087700       0.0          0.0  153.559998  154.779999
2023-12-28  34049900       0.0          0.0  153.720001  154.080002
2023-12-29  42628800       0.0          0.0  153.100006  153.889999
2024-01-02  82488700       0.0          0.0  151.539993  152.380005
2024-01-03  58414500       0.0          0.0  149.199997  151.050003
2024-01-04  71983600       0.0          0.0  145.589996  147.380005
2024-01-05  62303300       0.0          0.0  144.690002  146.589996
2024-01-08  59144500       0.0          0.0  146.740005  149.399994
2024-01-09  42841800       0.0          0.0  148.330002  151.710007
2024-01-10  46792900       0.0          0.0  152.059998  154.419998
2024-01-11  49128400       0.0          0.0  155.039993  157.169998
2024-01-12  40444700       0.0          0.0  155.389999  156.199997
2024-01-16  65603000       0.0          0.0  153.529999  154.990005
2024-01-17  47317400       0.0          0.0  151.490005  152.149994
2024-01-18  78005800       0.0          0.0  152.770004  153.779999
2024-01-19  68741000       0.0          0.0  153.830002  155.759995
2024-01-22  60133900       0.0          0.0  156.889999  157.050003
2024-01-23  42355600       0.0          0.0  154.850006  156.210007
2024-01-24  53631300       0.0          0.0  157.800003  158.509995
2024-01-25  54822100       0.0          0.0  156.949997  158.509995

                                                                    \
                   Low       Close   Adj Close    Volume Dividends
Date
2023-12-26  153.029999  153.410004  153.410004  25067200       0.0
2023-12-27  153.119995  153.339996  153.339996  31434700       0.0
2023-12-28  152.949997  153.380005  153.380005  27057000       0.0
2023-12-29  151.029999  151.940002  151.940002  39789000       0.0
2024-01-02  148.389999  149.929993  149.929993  47339400       0.0
2024-01-03  148.330002  148.470001  148.470001  49425500       0.0
2024-01-04  144.050003  144.570007  144.570007  56039800       0.0
2024-01-05  144.529999  145.240005  145.240005  45124800       0.0
2024-01-08  146.149994  149.100006  149.100006  46757100       0.0
2024-01-09  148.210007  151.369995  151.369995  43812600       0.0
2024-01-10  151.880005  153.729996  153.729996  44421800       0.0
2024-01-11  153.119995  155.179993  155.179993  49072700       0.0
2024-01-12  154.009995  154.619995  154.619995  40460300       0.0
2024-01-16  152.149994  153.160004  153.160004  41384600       0.0
2024-01-17  149.910004  151.710007  151.710007  34953400       0.0
2024-01-18  151.820007  153.500000  153.500000  37850200       0.0
2024-01-19  152.740005  155.339996  155.339996  51033700       0.0
2024-01-22  153.899994  154.779999  154.779999  43687500       0.0
2024-01-23  153.929993  156.020004  156.020004  37986000       0.0
2024-01-24  156.479996  156.869995  156.869995  48547300       0.0
2024-01-25  154.550003  157.750000  157.750000  43638600       0.0


           Stock Splits
Date
2023-12-26          0.0
2023-12-27          0.0
2023-12-28          0.0
2023-12-29          0.0
2024-01-02          0.0
2024-01-03          0.0
2024-01-04          0.0
2024-01-05          0.0
2024-01-08          0.0
2024-01-09          0.0
2024-01-10          0.0
2024-01-11          0.0
2024-01-12          0.0
2024-01-16          0.0
2024-01-17          0.0
2024-01-18          0.0
2024-01-19          0.0
2024-01-22          0.0
2024-01-23          0.0
2024-01-24          0.0
2024-01-25          0.0

### Create file by stock

In [ ]:
#df_1m_bk=pd.read_csv('data_1h_6.csv', index_col=0)

In [232]:
for name in assets:
    #aux_df=df_1h[[name,name+'.1',name+'.2',name+'.3',name+'.4',name+'.5',name+'.6']]
    aux_df=df_1h[[name]]
    #replace columns nambe with first column
    #aux_df.columns = aux_df.iloc[0]
    #aux_df = aux_df[1:]
    #aux_df.columns = aux_df.columns.droplevel(0)
    #path='./Assets/'+name+'_data_1h.csv'
    path='./Assets/'+name+'_data_1d.csv'
    if  os.path.exists(path):
        assets_name_df=pd.read_csv(path,index_col=False)
        #print(assets_name_df.shape)
        aux_df.columns = aux_df.columns.droplevel(0)
        #reset index in order to convert Date in a column
        aux_df.reset_index(inplace=True)
        to_save=pd.concat([assets_name_df, aux_df], ignore_index=True)
        #print(to_save.shape)
        #to_save.to_csv(path,header=False)
        to_save.to_csv(path, index=False)
    else:
        aux_df.columns = aux_df.columns.droplevel(0)
        aux_df.to_csv(path)

In [233]:
df=pd.read_csv('./Assets/AMZN_data_1d.csv',index_col=False)

In [234]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Dividends', 'Stock Splits'],
      dtype='object')

In [235]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,2010-01-04 00:00:00,6.812500,6.830500,6.657000,6.695000,6.695000,151998000,0.0,0.0
1,2010-01-05 00:00:00,6.671500,6.774000,6.590500,6.734500,6.734500,177038000,0.0,0.0
2,2010-01-06 00:00:00,6.730000,6.736500,6.582500,6.612500,6.612500,143576000,0.0,0.0
3,2010-01-07 00:00:00,6.600500,6.616000,6.440000,6.500000,6.500000,220604000,0.0,0.0
4,2010-01-08 00:00:00,6.528000,6.684000,6.451500,6.676000,6.676000,196610000,0.0,0.0
...,...,...,...,...,...,...,...,...,...
3534,2024-01-19 00:00:00,153.830002,155.759995,152.740005,155.339996,155.339996,51033700,0.0,0.0
3535,2024-01-22 00:00:00,156.889999,157.050003,153.899994,154.779999,154.779999,43687500,0.0,0.0
3536,2024-01-23 00:00:00,154.850006,156.210007,153.929993,156.020004,156.020004,37986000,0.0,0.0
3537,2024-01-24 00:00:00,157.800003,158.509995,156.479996,156.869995,156.869995,48547300,0.0,0.0
3538,2024-01-25 00:00:00,156.949997,158.509995,154.550003,157.750000,157.750000,43638600,0.0,0.0